extends ../layout

block content
  body
    .col-sm-8.col-sm-offset-2
      .text-center
        if user.jammer == null
          h3(class='form-text') You haven't created a profile yet!
          a(href=`/jammers/new` class='form-text') Create profile
        else
          div
            h1= jammer.name
            img(src= jammer.imagePath)
            br
            if (jammer.audioPath)
              audio(controls)
                source(src= jammer.audioPath)
            p= jammer.location
            p= jammer.genres
            p= jammer.instruments
            p= jammer.bio

            a(href=`/jammers/edit/${jammer._id}`)
              button(type="button") Edit Profile
