extends ../layout

block content
  body
    .col-sm-8.col-sm-offset-2
      .text-center
        if user.jammer == null
          | You have not created a profile
          br
          a(href=`/jammers/new`)  Create profile
        else
          div
            h1= jammer.name
            img(src= jammer.imagePath)
            br
            if (jammer.audioPath)
              audio(controls)
                source(src= jammer.audioPath)
            p= jammer.location
            p= jammer.genres
            p= jammer.instruments
            p= jammer.bio
