extends ../../views/layout

block content
  div(class="container")
    div(class="col-md-8 jumbotron")
      h1= user.name
      h3= user.username
      img(src= user.imagePath)
      h3= user.email
      h3= user.location
      h3= user.genres
      h3= user.instruments
      h3= user.bio
