extends ../../views/layout

block content

  div(class='chat-layout')
      div(id="all-messages")

        each message, i in messages
          div(class='panel panel-default chat-message')
            b=message.author
            | :
            span= "  " + message.body


      div(id="chat-messages")

        form(id="send-message" action="")
          input(id="message" autocomplete="off" placeholder="Your message...")
          button(type='submit' form='send-message')
            span(class="fa fa-music")

      script(src="/socket.io/socket.io.js")
      script(src="http://code.jquery.com/jquery-latest.min.js")
      script.
        $(document).ready(function(){
          var socket = io.connect();
          socket.emit('request_join', { id: "#{chat._id}" })

          $('#send-message').submit(function(e){
            e.preventDefault();
            socket.emit('send message', {
              message: $('#message').val(),
              room: "#{chat._id}",
              author: "#{jammer.name}"
            })
            $('#message').val('')
          })

          socket.on('new message', function(data){
            $('#all-messages').append("<div class='panel panel-default chat-message'><b>" + data.author + "</b>: " + data.message + "</div>")
          })

        })
