extends ../../views/layout

block content

  h1= jammer.name

  ul
    img(src= jammer.imagePath, class = "img-custom img-responsive")
    if (jammer.audioPath)
      audio(controls)
        source(src= jammer.audioPath)
    li= jammer.location
    li= jammer.genres
    li= jammer.instruments
    li= jammer.bio

    if(user)
      form(action="/chats/new", method="post")
        input(type="hidden", name="id", value=`${jammer.addedBy}`)
        input(type="hidden", name="name", value=`${jammer.name}`)
        input(type='submit', value="Chat", class="btn btn-default")
