extends ../../views/layout

block content

  h1= jammer.name

  ul
    img(src= jammer.imagePath, class = "img-custom img-responsive")
    li= jammer.location
    li= jammer.genres
    li= jammer.instruments
    li= jammer.bio
