extends ../../views/layout

block content

  div(class="container")
    //- div(class="jumbotron profile-container")
    div(class="row profile-row")

      div(class="col-md-5 col-sm-6 col-xs-12")
        img(src= jammer.imagePath, class = "img-responsive jammer-profile-image")
        br
        if (jammer.audioPath)
          audio(controls)
            source(src= jammer.audioPath)
      div(class="col-md-7 col-sm-6 col-xs-12")
        ul
          li
            h2= jammer.name
          li
            h4= jammer.instruments
          br
          li
            strong Location
          li= jammer.location
          br
          li
            strong Genres
          li= jammer.genres
          br

          li= jammer.bio

        form(action="/chats/new", method="post")
          input(type="hidden", name="id", value=`${jammer.addedBy}`)
          input(type="hidden", name="name", value=`${jammer.name}`)
          input(type='submit', value=`Chat with ${jammer.name}`, class="btn btn-default")
