extends ../../views/layout

block content

  div(class="container")

    div(class="profile-row")

        h1= jammer.name
        img(src= jammer.imagePath, class = "img-responsive jammer-profile-image")
        h2= jammer.instruments
        if (jammer.audioPath)
          h4 Track 1
          audio(controls)
            source(src= jammer.audioPath)
          h4 Track 2
          audio(controls)
            source(src= jammer.audioPath)
          h4 Track 3
          audio(controls)
            source(src= jammer.audioPath)
          br

        ul(class='profile-text')
          li
            strong Location
          li= jammer.location
          br
          li
            strong Genres
          li= jammer.genres
          br
          li
            strong Bio
          p= jammer.bio
          br
        form(action="/chats/new", method="post", class='centered-chat')
          input(type="hidden", name="id", value=`${jammer.addedBy}`)
          input(type="hidden", name="name", value=`${jammer.name}`)
          input(type='submit', value=`Chat with ${jammer.name}`, class="btn btn-default")
